.MovieDetail {
    position: fixed;
    top: 0; bottom: 0;
    width: 100%;
    padding: 10vh 0;
    background-color: rgba(241,243,244,0.9);
    display: flex;
    flex-direction: column;
    text-align: center;
}
.MovieDetail__Poster {
    object-fit: cover;
    width: 100%;
    height: 250px;
}
.MovieDetail__Details {
    min-width: 400px;
}

@media screen and (min-width: 600px) {
    .MovieDetail {
        flex-flow: row wrap;
        justify-content: center;
        text-align: left;
    }
    .MovieDetail__Poster {
        max-width: 200px;
        height: 100%;
        margin-right: 20px;
    }
}
