.MovieDetail {
    position: fixed;
    top: 0; bottom: 0; left: 0; right: 0;
    width: 100%;
    padding: 10vh 0;
    background-color: rgba(241,243,244,0.9);
    display: flex;
    flex-direction: column;
    text-align: center;
}
.MovieDetail__Poster {
    object-fit: cover;
    width: 100%;
    height: 250px;
}
.MovieDetail__Details {
    min-width: 400px;
}
.MovieDetail__Fave {
    padding: 8px 16px;
    background-color: gold;
    border: 1px solid white;
    border-radius: 6px;
}

@media screen and (min-width: 800px) {
    .MovieDetail {
        flex-flow: row wrap;
        justify-content: center;
        text-align: left;
    }
    .MovieDetail__Poster {
        object-fit: cover;
        max-width: 40vw;
        height: 100%;
        margin-right: 20px;
    }
}
